<% include partials/header %>

   <marquee height="40%"  direction="left">
        </br>
   </br>
   </br>
   </br>
   </br> 
        
     <h1 style="color:blue">All Donors Are Successfuly Notified...!!!</h1>

       
   </marquee> 
   </br>
   </br>
   </br>
  
  
      </br>
   </br>
   </br>
 
   </br>
   </br>
      </br>
   </br>
   </br>
  </br>
   </br>
   </br>
   </br>
   </br>
   </br>
<% include partials/footer %>